html {
  color: #B7BCEA !important;
  background-color: #000;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.spacer {
  flex-grow: 1;
}

.text-warning {
  color: #FF4852;
}

a {
  color: inherit;
}